{% extends "dashboard/index.html" %}
{% load bootstrap3 %}
{% block content %}
<legend> Новости</legend>
      <div class="row post_row">
                <!-- Post -->
                <div class="col-sm-4">
                    <div class="post">
                        <div class="img">
                            <a href="blogpost.html">
                                <img src="img/blog1.png" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="text">
                            <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                            <span class="date">Wed, 12 Dec.</span>
                            <p>
                                There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                        </div>
                        <div class="author_box">
                            <h6>Alejandra Galvan</h6>
                            <p>Creative Director</p>
                        </div>
                        <a class="plus_wrapper" href="blogpost.html">
                            <span>+</span>
                        </a>
                    </div>
                </div>

                <!-- Post -->
                <div class="col-sm-4">
                    <div class="post">
                        <div class="img">
                            <a href="blogpost.html">
                                <img src="img/blog2.png" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="text">
                            <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                            <span class="date">Wed, 12 Dec.</span>
                            <p>
                                There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                        </div>
                        <div class="author_box">
                            <h6>Alejandra Galvan</h6>
                            <p>Creative Director</p>
                        </div>
                        <a class="plus_wrapper" href="blogpost.html">
                            <span>+</span>
                        </a>
                    </div>
                </div>

                <!-- Post -->
                <div class="col-sm-4">
                    <div class="post last">
                        <div class="img">
                            <a href="blogpost.html">
                                <img src="img/blog3.png" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="text">
                            <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                            <span class="date">Wed, 12 Dec.</span>
                            <p>
                                There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                        </div>
                        <div class="author_box">
                            <h6>Alejandra Galvan</h6>
                            <p>Creative Director</p>
                        </div>
                        <a class="plus_wrapper" href="blogpost.html">
                            <span>+</span>
                        </a>
                    </div>
                </div>
            </div>

{% endblock %}

